
body{
    background-color: #ECEEF1; ;
}
/*============================= HEADER SECTION ==================*/
#header{

}

.header-info{
    color: gray;
    text-align: center;
    width: 100%;
    align-items: center;
}

.affiliates{
    display: inline-block;
    background-color: violet;
}

/*============================ FORM SECTION =========================*/
#signup-form{
    width:50%;
    margin: 0 auto 0 auto;
    padding:5%;
}

.top{
    text-align: center;

}

.middle{

}

.bottom{
    text-align: center;

}

/*============================ FOOTER SECTION ===================*/
#footer{
 
}

.copyright a{
    text-decoration: none;
}
